@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
}

html, body {
	margin: 0 auto;
	max-width: 650px;
	font-family: 'Open Sans';
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1 {
	padding: 30px 0px;
	text-transform: uppercase;
	color: purple;
}

#docs {
	padding-bottom: 30px;
}

#search-container {
	display: grid;
	grid-template-columns: auto 30px;
	padding: 10px;
	width: 100%;
	border: 1px solid purple;
	border-radius: 5px;
	font-size: 10px;
}

#search {
	font-family: monospace;
	border: 0px;
}

#search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0px;
	background: transparent;
}

#inspect {
	display: flex;
	align-items: center;
	grid-gap: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

#search-history {
	margin: 16px 0 0 0;
	padding-bottom: 50px;
	width: 100%;
	list-style-type: none;
}

#search-history:hover li {
	opacity: .5;
}

#search-history li {
	color: purple;
	font-size: 16px;
	margin-bottom: 8px;
	padding: 12px 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	transition: all .3s ease-in-out;
	border-radius: 8px;
}

#search-history li:hover {
	opacity: 1;
}

#search-history li span.text {
	position: relative;
	z-index: 3;
}

#search-history li span.text a {
	text-decoration: none;
}

#search-history li a.link {
	width: 100%;
	height: 40px;
	display: block;
	position: absolute;
	z-index: 2;
	left: 0;
}

#search-history li:before {
	content: '\f1da';
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 12px;
	transition: all .3s ease-in-out;
}

#search-history li:after {
	content: '\f30b';
	opacity: 0;
	position: absolute;
	right: 16px;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 12px;
	transition: all .3s ease-in-out;
}

#search-history li:hover {
	background: rgba(128, 0, 128, .25);
}

#search-history li:hover:after {
	opacity: 1;
}

#next-button {
	margin: 50px 0px;
	padding: 10px;
	width: 100%;
	text-align: center;
	background: purple;
	color: white;
	border: 0px;
	border-radius: 5px;
}

#results {
	padding-bottom: 60px;
}

#loading {
	width: 100px;
	animation-name: spinning;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#error {
	text-align: center;
	color: red;
}

@keyframes spinning {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(-360deg) }
}

code {
	font-family: monospace;
	font-size: 16px;
}
